body {
    --dark-primary: #E64A19;
    --light-primary: #FFCCBC;
    --primary-color: #FF5722;
    --text-icons: #FFFFFF;
    --accent-color: #607D8B;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}

.App {
    text-align: center;
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content-view {
    position: fixed;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.content-view.full-page {
    left: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(210, 210, 210, 0.75);
}

::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.75);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(106, 106, 106, 0.75);
}

.MuiButton-containedPrimary {
    background-color: var(--primary-color) !important;
}

.MuiButton-containedPrimary:hover {
    background-color: var(--dark-primary) !important;
}

.MuiStepIcon-active {
    color: var(--primary-color) !important;;
}

.MuiStepIcon-completed {
    color: var(--primary-color) !important;;
}

.MuiOutlinedInput-input {
    padding: 18.5px 14px!important;
}

/*
.Mui-focused {
    color: #464646
}
.Mui-focused > fieldset {
    border-color: #464646 !important;
}
*/

.MuiIconButton-root {
    padding: 9px !important;
}