<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать в innovate-school.com</h1>
    <p>
      Ваш аккаунт успешно добавлен, чтобы работать с сайтом вам необходимо активировать аккаунт: залогиниться и заполнить необходимые данные.
      Затем администратор проверит данные и даст вам полный доступ. 
    </p>
    <p>
      Ссылка для авторизации: <%= @url %>.
    </p>
    <p>Введите вашу почту: <%= @user.email %>.</p>
    <p>И пароль: <%= @password %></p>
  </body>
</html>
