<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать в innovate-school.com</h1>
    <p>
    Ваш аккаунт успешно добавлен в систему. Чтобы работать с личным кабинетом, вам необходимо активировать ваш аккаунт. 
    Для этого перейдите по ссылке <%= @url %>, введите ваш логин и пароль и заполните необходимые для регистрации поля. 
    После проверки данных администратором вам будет открыт полный доступ к личному кабинету.
    </p>
   
    <p> Ваш логин: <%= @user.email %>.</p>
    <p> Ваш пароль: <%= @password %></p>
  </body>
</html>
