<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Открыт полный доступ к личному кабинету. Рекомендуем поменять пароль в настройках.
    </p>
  </body>
</html>
