<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ваш пароль пароль был обновлен</h1>
    <p>
    Перейдите по ссылке <%= @url %>, введите ваш логин и пароль и заполните необходимые для регистрации поля. 
    </p>
   
    <p> Ваш логин: <%= @user.email %>.</p>
    <p> Ваш пароль: <%= @password %></p>
  </body>
</html>
